s5k4h5_liteon=/system/etc/camera/davinci/s5k4h5_liteon/
mt9v113=/system/etc/camera/davinci/mt9v113/
s5k4e1_liteon_affli=/system/etc/camera/davinci/s5k4e1_liteon_affli/
ov8850_foxconn=/system/etc/camera/davinci/ov8850_foxconn/
ov5648_sunny_afflip=/system/etc/camera/davinci/ov5648_sunny_afflip/
imx134_sunny_p8n09c=/system/etc/camera/davinci/imx134_sunny_p8n09c/
imx134_liteon_13p1=/system/etc/camera/davinci/imx134_liteon_13p1/
ov5648_foxconn=/system/etc/camera/davinci/ov5648_foxconn/
s5k4e1_sunny=/system/etc/camera/davinci/s5k4e1_sunny/
imx219_liteon=/system/etc/camera/davinci/imx219_liteon/